// door.scss
$primaryColor: #5eb6f6;

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-size {
  display: flex;
  justify-content: center;
  width: 100%;
  // width: 363px;
  height: 175px;
  margin-top: 0.7rem;
}

.navigation-line {
  position: absolute;
  background: #e4e4e4;
  border: none;
  height: 1px;
  width: 100%;
}

.navigation-cp-container {
  .navigation-cp-space {
    display: flex;
    justify-content: center; // 수정된 부분
    gap: 55px;

    .navigation-cp {
      background: #fff;
      border: none;
      color: #929292;
      min-width: 50px; // 최소 너비 설정
      box-sizing: border-box; // 추가된 부분
      padding: 10px 10px;
      font-size: 16px; // 폰트 크기 고정
      width: 95px; // 기본 너비 지정
      border-bottom: 3px solid transparent; // 추가

      &.active {
        color: $primaryColor; // 활성화 시 색상 변경
        border-bottom-color: #afafaf; // 수정

        &:after {
          position: absolute; // position 속성 추가
          left: 0; // left 속성 추가
          width: 100%; // width 속성 추가
          bottom: 0;
          padding-top: 3px;
          background-color: #afafaf;
        }
      }
    }
  }
}

.filter-title {
  color: #929292;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.filter-tags {
  display: flex;
  justify-content: space-between; // 수정된 부분
  align-items: center;
  flex-wrap: wrap;

  .tag-button {
    margin-right: 7px;
    margin-bottom: 7px;
    // margin: 5px 7px;

    color: #fff;
    border: none;
    border-radius: 999px;
    border: 0.7px solid #dfdfdf;
    background: #fff;
    color: #bababa;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 10px;
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;

    &.active {
      background: #c4c4c4;
      color: #fff;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-between; // 수정된 부분
}
