// src/components/container/InformationPage/informationfcn.scss
.informaion-container {
  z-index: 500;
  overflow-x: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-size {
  position: relative;
  display: flex;
  justify-content: center;
  
  width: 100%;
  //left: 20px;
  height: 220px;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  
  
  @media (min-width: 400px) {
    // margin-left: 10px;
    // margin-right: 10px;
    left:5%;
    right:5%
  }
  @media (max-width: 360px) {
    // margin-left: 10px;
    // margin-right: 10px;
    left:-2%;
    
  }
  .overlay-div-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation-line {
  position: relative;
  background: #e4e4e4;
  border: none;
  height: 1px;
  width: 100%;
}

.navigation-cp-container {
  .navigation-cp-space {
    display: flex;
    justify-content: center;
    gap: 30px;

    .navigation-cp {
      background: #fff;
      border: none;
      color: #929292;
      min-width: 50px; // 최소 너비 설정
      box-sizing: border-box;
      padding: 5px 5px;
      font-size: 16px; // 폰트 크기 고정
      width: 85px; // 기본 너비 지정

      &.active {
        color: var(--main, #4f75ff);
        text-decoration: none;
      }
    }

    .border-bottom {
      color: var(--main, #4f75ff);
      height: 2px;
      background-color: #4f75ff;
      display: none;

      &.active {
        display: block;
        border-radius: 10px; // 원하는 radius 값 입력.
      }
    }
  }
}

.filters-layout-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .filter-container {
    .filter-favorite-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    .filter-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .filter-title {
      color: #505050;
      font-family: Spoqa Han Sans Neo;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 10px;
      padding-bottom: 0;
      flex:1
    }

    .filter-tags {
      // width: 100%;
      display: flex;
      justify-content: flex-start; // 수정된 부분
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
      padding-top: 0;

      .tag-button {
        margin-right: 7px;
        margin-bottom: 7px;

        border: none;
        border-radius: 999px;
        border: 0.7px solid #dfdfdf;
        background: #fff;
        color: #a3a2a2;
        text-align: center;
        font-family: Spoqa Han Sans Neo;
        font-size: 10px; // 태그 폰트 크기
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px 10px; // 태그 사이즈 크기
        margin-right: 8px;
        margin-top: 5px;
        cursor: pointer;

        &.active {
          color: #fff;
          border-radius: 999px;
          border: 0.7px solid #fff;
          background: var(--main, #4f75ff);
        }
      }
    }

    .filter-favorite-tags {
      display: flex;
      overflow-x: auto; // 추가된 부분
      align-items: center;
      white-space: nowrap; // 추가된 부분
      padding: 10px;
      padding-top: 0;

      .favorite-tag-button {
        display: inline-flex;
        margin-right: 7px;
        margin-bottom: 7px;

        border-radius: 999px;
        border: 0.7px solid var(--main, #4f75ff);
        background: #fff;
        color: var(--main, #4f75ff);
        text-align: center;
        font-family: Spoqa Han Sans Neo;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px 10px; // 태그 사이즈 크기
        margin-right: 8px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .filter-expand {
      position: absolute;
      left: 126px;
      top: 352px;
      width: 16px;
      height: 16px;
      transform: rotate(90deg);
      color: #505050;
      font-family: Spoqa Han Sans Neo;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .DesignUnivFavorite {
      color: #a3a2a2;
      font-family: Spoqa Han Sans Neo;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.timeline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  padding-top: 3px;
}

.timeline-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 19px;
}

.timeline-timeicon {
  width: 14px;
  height: 14px;
}

.timeline-icon-font {
  margin: 0;
  margin-left: 5px;
  margin-right: 10px;
  color: #727272;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.timeline-time {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeline-component {
  display: flex;
  flex-direction: column;
}

.timeline-body {
  width: 343px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #e8e8e8;
}

.timeline-info-title {
  // 컴포넌트 밑에 회색 아이콘과 글씨를 묶기 위한 css
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.timeline-info-text {
  color: #727272;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 3px;
  margin-right: 5px;
}

.timeline-info-content {
  color: #979797;
  text-align: start;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.timeline-cp-cost {
  margin: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
}

.timeline-infoicon {
  width: 14px;
  height: 14px;
}
