// src/components/container/InformationPage/informationfcn.scss
$primaryColor: #5eb6f6;

.informaion-container {
  z-index: 500;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-size {
  position: relative; // 추가된 부분
  display: flex;
  justify-content: center;
  width: 100%;
  // width: 363px;
  height: 200px;
  margin-top: 0.7rem;
  .overlay-div-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.5); // 반투명 배경으로 확인 용이하게 함.

    display: flex;
    justify-content: center;
    align-items: center;

    /* 여기서부터 내부 텍스트 스타일 */

    &.design {
      // design 버튼이 active일 때만 적용되는 스타일
      .tag-div1 {
        // 디자인대학에 해당하는 tag-div 스타일
      }

      .tag-div2 {
        // 디자인대학에 해당하는 tag-div 스타일
      }
    }
    &.gate {
      .tag-div1 {
        position: absolute;
        top: 111px;
        left: 39px;
        background-color: #fdf3d1;
        width: 21px;
        height: 34px;
        &.active {
          background-color: red;
        }
      }
      .tag-div2 {
        position: absolute;
        top: 72px;
        left: 39px;
        background-color: #fdf3d1;
        width: 21px;
        height: 34px;
        &.active {
          background-color: red;
        }
      }
      .tag-div3 {
        position: absolute;
        top: 48px;
        left: 60px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div4 {
        position: absolute;
        top: 48px;
        left: 99px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div5 {
        position: absolute;
        top: 48px;
        left: 137px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div6 {
        position: absolute;
        top: 48px;
        left: 175px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div7 {
        position: absolute;
        top: 48px;
        left: 214px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div8 {
        position: absolute;
        top: 72px;
        left: 243px;
        background-color: #fdf3d1;
        width: 21px;
        height: 34px;

        &.active {
          background-color: red;
        }
      }

      .tag-div9 {
        position: absolute;
        top: 111px;
        left: 243px;
        background-color: #fdf3d1;
        width: 21px;
        height: 34px;

        &.active {
          background-color: red;
        }
      }

      .tag-div10 {
        position: absolute;
        top: 140px;
        left: 280px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }

      .tag-div11 {
        position: absolute;
        top: 140px;
        left: 320px;
        background-color: #fdf3d1;
        width: 34px;
        height: 21px;

        &.active {
          background-color: red;
        }
      }
    }
  }
}

.navigation-line {
  position: absolute;
  background: #e4e4e4;
  border: none;
  height: 1px;
  width: 100%;
}

.navigation-cp-container {
  .navigation-cp-space {
    display: flex;
    justify-content: center;
    gap: 30px;

    .navigation-cp {
      background: #fff;
      border: none;
      color: #929292;
      min-width: 50px; // 최소 너비 설정
      box-sizing: border-box;
      padding: 5px 5px;
      font-size: 16px; // 폰트 크기 고정
      width: 85px; // 기본 너비 지정

      &.active {
        color: var(--main, #4f75ff);
      }
    }

    .border-bottom {
      color: var(--main, #4f75ff);
      height: 2px;
      background-color: #4f75ff;
      display: none;

      &.active {
        display: block;
        border-radius: 10px; // 원하는 radius 값 입력.
      }
    }
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.filter-title-container {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.filter-title {
  color: #505050;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-expand {
  position: absolute;
  left: 126px;
  top: 352px;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  color: #505050;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-tags {
  display: flex;
  justify-content: flex-start; // 수정된 부분
  align-items: center;
  flex-wrap: wrap;

  .tag-button {
    margin-right: 7px;
    margin-bottom: 7px;

    border: none;
    border-radius: 999px;
    border: 0.7px solid #dfdfdf;
    background: #fff;
    color: #a3a2a2;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 10px;
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;

    &.active {
      color: var(--main, #4f75ff);
      border: 0.7px solid var(--main, #4f75ff);
      background: #fff;
    }
  }
}

.timeline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  padding-top: 3px;
}

.timeline-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 19px;
}

.timeline-timeicon {
  width: 14px;
  height: 14px;
}

.timeline-icon-font {
  margin: 0;
  margin-left: 5px;
  margin-right: 10px;
  color: #727272;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.timeline-time {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeline-component {
  display: flex;
  flex-direction: column;
}

.timeline-body {
  width: 343px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #e8e8e8;
}

.timeline-info-title {
  // 컴포넌트 밑에 회색 아이콘과 글씨를 묶기 위한 css
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.timeline-info-text {
  color: #727272;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 3px;
  margin-right: 5px;
}

.timeline-info-content {
  color: #979797;
  text-align: start;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.timeline-cp-cost {
  margin: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
}

.timeline-infoicon {
  width: 14px;
  height: 14px;
}
