.CreatorView_Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-bottom: 193px;
    
}
.Creator_Text {

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-left : 16px;

    color: #000000;
}

.creator_box {
    display: flex;

    width: 30vw; 
    height: 175px; 

    margin-left : auto;
    margin-right : auto;

    border-radius: 12px;
    border: 1px solid #EBEAEA;
    background: var(--unnamed, linear-gradient(180deg, rgba(255, 255, 255, 0.20) 10%, rgba(0, 0, 0, 0.50) 100%));
}

.creator_box_container {
    display: flex;

}