.CreatorView_Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-bottom: 193px;
    
}
.Creator_Text {

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-left : 16px;

    color: #000000;
}

.creator_box {
    position: relative;
    display: flex;
    flex-direction: column;  /* 박스 내부 요소들을 세로로 배치 */
    align-items: center;  /* 박스 내부 요소들을 가운데 정렬 */
    //justify-content: space-around;  /* 박스 내부 요소들 사이에 공간 분배 */

    width: 30vw; 
    max-width : 130px;
    height: 175px; 

    margin-left : 4.5px;
    margin-right : 4.5px;

    border-radius: 12px;
    border: 1px solid #EBEAEA;
    background: var(--unnamed, linear-gradient(180deg, rgba(255, 255, 255, 0.20) 10%, rgba(0, 0, 0, 0.50) 100%));
}

.creator_box_container {
    display: flex;
    margin : 0 auto;

}

.box_title {
    width:70px;
    color : #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.986px; /* 133.216% */

    margin-top:130px;
    margin-left:-20px;
}

.arrow_position {
    width: 24px;
    height: 24px;

    font-size:35px;
    font-weight:100;
    color : #fff;

    margin-top:-37px;
    margin-left:80px;
}

.image_position {
    position: absolute;
    margin-top : 44px;
}
