.MainView_Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height : 100vh;
    background-image: url('../../../assets/MainPage/MainBackground1.png');
    background-size: cover;
}

.MainView_TextBox {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left : 20px;
    margin-bottom: auto;

    .MainView_Text1 {
        font-family: Roboto;
        font-style: bold;
        font-size: 20px;
        margin-top : 230px;
        font-weight: 700;
    }
    .MainView_Text2 {
        font-family: 'Black Han Sans';
        font-size: 44px;
        font-style: bold;
        font-weight: 900;
        letter-spacing: -2px;
        margin-top : 12px;
    }
    .MainView_Text3 {
        font-family: 'Black Han Sans';
        font-size: 36px;
        color: #FFF;
        font-weight: 900;
    }
}

.MainView_Count {
    display: flex;
    flex-direction: column;
    
    height: 120px;
    color: #FFF;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-weight: 700;
    line-height: 8.877px; /* 36.985% */
    margin-top : auto;
    margin-bottom: auto;
    margin-left : 38px;
}

.Count_Box {
    width: 100%;
    height : 85px;
    display: flex;
    flex-direction: row;
    margin-top : 20px;
}