.DetailPerformance1_Container {
    display: flex;
    flex-direction: column;
    width: 100%;

    //background: var(--main, #4F75FF);
}

.DetailPerformance1_Wrapper {
    width: 100%;
    margin-top : 10px;
    background-color: #fff;
    border-radius: 40px 40px 0 0;
}