.DetailTable1_Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;

}

.DetailTable1_TimeList {
    display: flex;
    flex-direction: column;
    margin-top : 35px;
    margin-left : 16px;
}

.TimeList_Title {
    display: flex;
    flex-direction: row;
    color: #727272;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TimeList_items {
    display: flex;
    flex-direction: column;
    color: #727272;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    font-weight: 400;
    margin-top : 12.5px;
}

.items_wrapper {
    display: flex;
    flex-direction: row;
    width : auto;
    margin-right : 12px;
}

.TimeList_item {
    width : 32px;
    height : 15px;
    margin-bottom : 104px;
    margin-right : 35px;
}

.item_circle {
    width: 11px;
    height : 11px;
    border : none;
    border-radius: 50%;
    background-color: lightgray;
    margin-left: auto;
}

.DetailTable1_HorizonBar {
    position: absolute;
    margin-top : 72.5px;
    display: flex;
    width: 0;
    height : 701px;
    border: 1px solid lightgray;
    margin-left : 87.5px;
}

.DetailTable1_InformationList{
    display: flex;
    flex-direction: column;

    margin-top : 35px;
    margin-left : auto;
    margin-right : 14px;
}

.InformationList_Title {
    display: flex;
    flex-direction: row;
    color: #727272;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Box_Collection {
    display: flex;
    flex-direction: column;
    font-family: Spoqa Han Sans Neo;
}
.InformationBox1 {
    width: 255px;
    height: 337px;
    border-radius: 12px;
    background: linear-gradient(180deg, #EEE 74.48%, rgba(238, 238, 238, 0.00) 100%);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);

    margin-top : 14.5px;
}

.InformationBox2 {
    width: 255px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.InformationBox3 {
    width: 255px;
    height: 58px;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.InformationBox4 {
    width: 255px;
    height: 51px;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.InformationBox5 {
    width: 255px;
    height: 51px;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.Information_TextBox {
    display: flex;
    flex-direction: column;

    padding-left : 14px;
}

.Information_MainTitle {
    color: var(--black, #212121);
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Information_SubTitle {
    color: var(--gray-2, #919094);
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Information_time {
    color: #AB85A2;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Information_DisplaySet {
    display : flex;
    flex-direction: row;
    margin-top : 6px;
}