.DetailTable2_Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;

}

.DetailTable2_TimeList {
    display: flex;
    flex-direction: column;
    margin-top : 35px;
    margin-left : 16px;
    width:90px;
}

.TimeList_Title {
    display: flex;
    flex-direction: row;
    color: #727272;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:160px;
}

.Time_text {
    width:40px;
    margin-left:2px;
    margin-top:0.5px;
    margin-right:33px;
}


.Information_text {
    width:40px;
    margin-left:3px;
}

.TimeList_items {
    display: flex;
    flex-direction: column;
    color: #727272;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 12px;
    font-weight: 400;
    margin-top : 12.5px;
}

.items_wrapper {
    display: flex;
    flex-direction: row;
    width : auto;
    margin-right : 12px;
}

.TimeList_item {
    width : 32px;
    height : 15px;
    margin-bottom : 104px;
    margin-right : 35px;
    
}

.item_circle {
    width: 11px;
    height : 11px;
    border : none;
    border-radius: 50%;
    background-color: lightgray;
    z-index:1;
}

.DetailTable2_HorizonBar {
    position: absolute;
    margin-top : 66px;
    display: flex;
    width: 0;
    height : 720px;
    border: 1px solid lightgray;
    margin-left : 87.5px;
}

.DetailTable2_InformationList{
    display: flex;
    flex-direction: column;

    margin-top : 63px;
    margin-left : auto;
    margin-right : 45px;
}


.Box_Collection {
    display: flex;
    flex-direction: column;
    font-family: Spoqa Han Sans Neo;
}
.InformationBox1 {
    width: 255px;
    height: 337px;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(180deg, #EEE 74.48%, rgba(238, 238, 238, 0.00) 100%);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);

    //margin-bottom : 14.5px;
    //margin-right : auto;
    //margin-left:auto;
}

.InformationBox2 {
    width: 255px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.InformationBox3 {
    width: 255px;
    height: 58px;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.InformationBox4 {
    width: 255px;
    height: 114px;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}


.InformationBox2_Text {
    margin-top:60px;
}