.Information_TextBox {
    display: flex;
    flex-direction: column;

    padding-left : 14px;
}



.Information_MainTitle {
    color: var(--black, #212121);
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Information_DisplaySet {
    display : flex;
    flex-direction: row;
    margin-top : 6px;
}


.Time_Icon {
    width: 12px;
    height: 12px;
    margin-top:-2px;
}

.Information_time {
    color: #AB85A2;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top:-10px;
    margin-left:15px;
}



.Location_Icon {
    width: 12px;
    height: 12px;
    margin-top:-2px;
}

.Information_SubTitle {
    color: var(--gray-2, #919094);
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top:-10px;
    margin-left:15px;
}



