.slideshow {
    display: flex;
    justify-content: space-between;
    width: calc(344px + (2 * (26px)));
    
    img {
    width: calc(100% - (2 * (26px)));
    }
    
    .blur {
    filter: blur(8px);
    width: calc(100% /4);
    }
    }
    