// Carousel.scss
.SlideShow_Wrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:500px;

    margin-top : 68px;
    margin-bottom : 102px;
}
  
.swiper-container {
    position:relative;
    display: flex;
    width: 334px; 
    height: 360px;
    overflow: hidden;
  
    margin : 0 auto;
  
    .swiper-slide { 
        width: 262px;
        height: 332px;
        display:flex; 
        align-items:center; 
        justify-content:center; 
  
        transition : all .2s linear ;  
        transform : scale(.8) ;

        filter : blur(4px);
        border-radius: 20px;

        &.swiper-slide-active{
            display: flex;
            width: 262px;
            height: 332px;
            border-radius: 20px;
            transform : scale(1);
            filter : none;
        }
  }
}
.SlideShow_Wrapper_LayOut {
    display: flex;
    width : 262px;
    height :340px;
}
// Carousel.scss

.SlideShow_Wrapper_Img_Box {
    display: flex;
    flex-direction: row;
    width : 262px;
    height :332px;
    border-radius: 20px;
  
    perspective: 1000px; // 추가
    
  }
  
  .card-inner {
    display: flex;
    width: 262px; 
    height: 332px;
    position: relative;
    top : 0;
    transition: .4s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 262px; 
    height: 332px;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.SlideShow_Wrapper_Img_Box:hover .card-inner {
    transform: rotateY(180deg);
  }
  

.SlideShow_Wrapper_Img {
    display: flex;
    width : 262px;
    height :332px;
    border-radius: 20px;
}

.extra_data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 334px; 
    align-items: center;
    justify-content: center;
    margin : 0 auto;
}

.circle_collection {
    display: flex;
    flex-direction: row;

    margin-top : 16px;
}
.circle {
    width: 6px;
    height: 6px;
    margin-left : 2px;
    margin-right : 2px;
    background-color: var(--gray-1, #C8C6CA);
    border-radius: 50%;
}

.extra_data_big_text {
    display: flex;

    height : 20px;
    color: var(--black, #212121);
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top : 20px;
}

.extra_data_small_text {
    display: flex;
    flex-direction: row;

    height : 9px;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top : 7.5px;
}

.Img_Detail {
    display: flex;
    flex-direction: column;
    width: 262px; 
    height: 332px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
}

.back_time {
    display: flex;
    border-radius: 20px;
    background: #FFD7F4;
    width : 98px;
    height : 15px;

    color: var(--black, #212121);
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;    
    font-weight: 400;
    
    align-items: center;
    justify-content: center;
    margin-top : 20px;
    margin-left : 14px;
}

.back_name {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top : 12px;
    .kor {
        margin-left : 14px;
        color: var(--black, #212121);
        font-family: Spoqa Han Sans Neo;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .eng {
        margin-left : 4px;
        color: var(--gray-4, #1B1B1F);
        font-family: Spoqa Han Sans Neo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.back_contents {
    display: flex;
    flex-direction: column;
    margin-left : 14px;
    margin-bottom: auto;
    width : 234px;
    height: auto;
    .content1{
        color: var(--black, #212121);
        font-family: Spoqa Han Sans Neo;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top : 8px;
        margin-bottom: 8px;
        letter-spacing: -0.5px;
    }
    .title {
        color: var(--main, var(--main, #4F75FF));
        font-family: Spoqa Han Sans Neo;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top : 2px;
    }
    .content2 {
        color: var(--gray-2, #919094);
        font-family: Pretendard;
        font-size: 14.5px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top : 8px;
        margin-bottom: 8px;
        letter-spacing: -0.5px;
    }
}

.back_logo {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 30px;

    color: rgba(79, 117, 255, 0.40);
    font-family: Spoqa Han Sans Neo;
    font-size: 8px;
    font-weight: 400;

    text-align: center;

    margin : auto auto;
}