.TableType_Container {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
}

.type_buttons {
    margin-left: 20px;
    margin-top: 20px; /* 원하는 픽셀값으로 변경 가능 */
}

.type_buttons button {
    border: none; /* 테두리 삭제 */
    background: none; /* 배경색 삭제 */
    color: #B0B0B0;
    cursor: pointer;
    margin-right: 20px; /* 오른쪽 마진 추가 */

    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Dropdown_Container {
    width:80px;
    margin-top:-25px;
    margin-left:270px;
}

.Dropwdown_Container button {
    // height: 40px;
    // padding: 8px 12px;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap: 10px;

    border-radius: 20px;
    border: 1px solid var(--main, #4F75FF);
    background: rgba(79, 117, 255, 0.70);
}