.BoxChange_Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height : 33vh;
    font-family: Noto Sans KR;
}

.BoxChange_Wrapper {
    display: flex;
    flex-direction: row;
    margin : 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height : 33vh;
}

.BoxChange_Wrapper_Title {
    display: flex;
    flex-direction: column;

    color: #000;
    font-size: 20px;
    font-weight: 500;

    .small_title {
        margin-top : 17px;
        width : 74px;
        font-size: 10px;
    }
    height : 20px;
    align-items: center;
    justify-content: center;
}

.BoxChange_Wrapper_Box_Collection{
    display: flex;
    width: 260px;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left : 7px;
}

.BoxChange_Wrapper_Box_UnActive,
.BoxChange_Wrapper_Box_Active {
    display: flex;
    width: 80px;
    height: 32px;
    
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
    margin-right : 10px;
    margin-bottom: 20px;

    text-align: center;
}

.BoxChange_Wrapper_Box_Active {  
    border: 1px solid #2757FF;
    background: #F2F5FF;
}

.BoxChange_Wrapper_Box_UnActive {
    border: 1px solid lightgrey;
    background: lightgray;
}