.BoxChange_Container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height : 33vh;
}

.BoxChange_Wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}