.MediumBox_Container {
    width: 255px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--light-gray, #EEE);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);
    margin-top : 12px;
}

.MediumBox_TextBox {
    display: flex;
    flex-direction: column;

    padding-left : 14px;
}

.MediumBox_MainTitle {
    color: var(--black, #212121);
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-weight: 400;
    margin-top : 14px;
}

.MediumBox_DisplaySet {
    display: flex;
    flex-direction: row;
    margin-top : 6px;
}

.Time_Icon {
    width: 12px;
    height: 12px;
    margin-top:-2px;
    img {
        width: 12px;
        height: 12px;
    }
}

.Information_time {
    color: #AB85A2;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-weight: 500;

    margin-top:-10px;
    margin-left:15px;
}

.Location_Icon {
    width: 12px;
    height: 12px;
    margin-top:-2px;

    img {
        width: 12px;
        height: 12px;
    }
}

.Information_SubTitle {
    color: var(--gray-2, #919094);
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-weight: 400;

    margin-top:-10px;
    margin-left:15px;
}