.CreatorItemBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    & > .thumbnail {
        margin-right: 2.5rem;
        
        img {
            display: block;
            box-sizing: border-box;
            width: 100px;
            height: 100px; 
            object-fit: cover;
            border-radius: 50%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
            border: 0.5px solid #b9b9b9;
            margin-left:25%;

        }
    }

    & > .info {
        display:flex; 
        flex-direction: column;

        & > .name{
          display:flex;
          margin-left:7%;
          font-family: 'Spoqa Han Sans Neo';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px; 
          letter-spacing :0.01em;

          color : #212121;  
        }

        & > .department {
            display:flex;
            width:150px;
            margin-left:7%;
            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.01em;

            color: #454545;
        }

        & > .majorAndStudentId{
          display:flex; 
          margin-left :7%;

              & > .major,
              & > .studentId{
                  width:auto; 
                  margin-right :0.5rem;
                  white-space : nowrap;
                  font-family: 'Spoqa Han Sans Neo';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                  letter-spacing: 0.01em;
                  
                  color: #B1B1B1;
              }
      }
   }
}

.CreatorItemBlock + .CreatorItemBlock {
     margin-top : 3rem;   
}
