.NotFoundPage_Container {
    display: flex;
    height : 100vh;

    align-items: center;
    justify-content: center;
}

.NotFoundPage_Wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.NotFoundPage_Text {
    width : 100%;
    // Text Decoration
    color: #000;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}