.SeatDraw_Container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.SeatDraw_Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 330px;

    border-radius: 0px 0px 40px 40px;
    background: #96CDFF;
}

.SeatDraw_Wrapper_MainTitle {
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 26px;
    font-weight: 700;

    margin-top : 38px;
}

.SeatDraw_DateBtn {
    display: flex;
    flex-direction: row;

    width: 136px;
    height: 34px;

    border-radius: 12px;

    margin-top : 22px;
    margin-left : auto;
    margin-right : auto;

    color: #77767A;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 400;

    .DateBtn_date {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 34px;
        align-items: center;
        justify-content: center;
    }

}

.SeatDraw_Wrapper_Ticket {
    display: flex;
    flex-direction: row;

    width: 295px;
    height: 116px;

    margin-top : 13px;
    margin-left : auto;
    margin-right : auto;

    align-items: center;
    justify-content: center;

    .LeftBox {
        display: flex;
        flex-direction: column;
        width: 193px;
        height: 115px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        border-right: 1px dashed #96CDFF;
        
        .LeftBox_Text {
            text-align: center;
            color: black;
            font-family: Spoqa Han Sans Neo;
            font-size: 28px;
            font-weight: 700;
            
            margin-top : 24px;
        }
    }

    .RightBox {
        display: flex;
        flex-direction: column;
        width: 102px;
        height: 115px;
        background: #fff;
        border-radius: 11.374px 11.374px 10px 10px;

        .RightBox_Text {
            text-align: center;
            color: black;
            font-family: Spoqa Han Sans Neo;
            font-size: 28px;
            font-weight: 700;
            
            margin-top : 24px;
        }
    }
}

.Box_Header{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 15px;
    border-radius: 10px 10px 0px 0px;
    background: #2757FF;

    color: #FFF;
    font-family: Spoqa Han Sans Neo;
    font-weight: 400;

    align-items: center;
    justify-content: center;

    font-size: 4px;
    
}

.detail_box {
    display: flex;
    flex-direction: row;
    color: #96CDFF;
    font-family: Spoqa Han Sans Neo;
    font-size: 12.127px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.986px; /* 214.286% */

    align-items: center;
    justify-content: center;
}

.SeatDraw_Detail {
    display: flex;
    flex-direction: row;

}