.SmungSlideShow_Container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.SmungSlideShow_Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: center;
}

.SmungSlideShow_MainTitle {
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}