.TreasureHunt_Container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.TreasureHunt_Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 330px;

    border-radius: 0px 0px 40px 40px;
    background: #96CDFF;
}

.TreasureHunt_Wrapper_MainTitle {
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 26px;
    font-weight: 700;

    margin-top : 40px;
    margin-bottom: 6px;
}

.TreasureHunt_Wrapper_SubTitle {
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 18px;
    font-weight: 700;
}

.TreasureHunt_Box_Collection {
    display: flex;
    flex-direction: row;

    width: 350px;
    height : 80px;

    margin-top : 44px;
    margin-left : auto;
    margin-right : auto;
}

.TreasureHunt_Box_img {
    width: 80px;
    height : 80px;
    margin-right: auto;
    margin-left: auto;
}

.TreasureHunt_Box_Text {
    position: absolute;
    margin-left : 32px;
    margin-top : -45px;
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-weight: 700;
}

.TreasureHunt_Wrapper_Count {
    color: var(--black, #212121);
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-weight: 700;

    margin-top : 33px;
}