.Header_Container1{
    display: flex;

    width : 100%;
    height : 80px;
    overflow-x: hidden;

    align-items: center;
    justify-content: center;

    color : white;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
}

.Header_Container2{
    display: flex;
    width : 100%;
    height : 90px;

    overflow-x: hidden;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left : 0;
}

.Header_Wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    margin-left : 16px;
    margin-right : 20px;
}

.Header_Props {
    width: 90px;
    max-width : 120px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left : - 60px;
    margin-right : -30px;
}

.Header_Img {
    margin-right: 124px;
    margin-left : auto;
}
.Header_MenuIcon {
    margin-left : 124px;
    margin-right : auto;
}