.Header_Container1{
    display: flex;

    width : 100%;
    height : 90px;

    align-items: center;
    justify-content: center;
}

.Header_Container2{
    display: flex;
    width : 100%;
    height : 90px;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left : 0;
}

.Header_Wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.Header_Props {
    width: 90px;
    max-width : 120px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left : -65px;
}

.Header_Img {
    margin-left : 26px;
    margin-right : 118px;
}
.Header_MenuIcon {
    margin-right : 15px;
    margin-left : 123px;
}