.Header_Container{
    display: flex;
    height : 90px;
    background-color: transparent;
}

.Header_Wrapper {
    display: flex;
    flex-direction: row;
    width : 100%;

    align-items: center;
    justify-content: center;
}


.Header_Img {
    margin-left : 16px;
    margin-right : 128px;
}
.Header_MenuIcon {
    margin-right : 20px;
    margin-left : 128px;
}